* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    background: url(images/bg.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.courses__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.courses__item {
    position: relative;
    margin: 10px 10px;
    border-radius: 12px;
    transition: .3s;
    box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
    height: 190px;
}




.courses__item:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}

.courses__item:hover .courses__img {
    filter: brightness(0.6);
}

.courses__img {
    max-height: 100%;
    width: 100%;
    width: 300px;
    background-size: cover;
    border-radius: 12px;
    transition: .3s
}
.courses__overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(109, 163, 226, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 12px;
    transition: .3s;
}

.courses__item:hover .courses__overlay { 
    background: rgba(71, 232, 101, 0.7)
}

.courses__title {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 2px rgba(94, 93, 93, 0.4); */
}
